Source: decibel
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: debhelper (>= 5), cdbs, cmake, libqttapioca-dev, libqt4-dev, quilt, libqttelepathy-dev, kdelibs5-dev
Standards-Version: 3.7.3
Homepage: http://decibel.kde.org
Uploaders: Sune Vuorela <debian@pusling.com>, Ana Beatriz Guerrero Lopez <ana@debian.org>, Matthew Rosewarne <mrosewarne@inoutbox.com>

Package: libdecibel-dev
Section: libdevel
Architecture: any
Depends: libdecibel0.7.0 (= ${binary:Version}), libqttapioca-dev, libqttelepathy-dev
Description: development files for the Decibel communications framework
 Decibel is a real-time communications framework, which manages services such
 as Computer Telephony Integration (CTI), Voice over Internet Protocol (VoIP),
 text-based chat, and instant messaging.  It provides a simple D-Bus interface
 for communication protocols, accounts, contacts, and desktop components.
 .
 This package contains development files for building software that uses the
 Decibel libraries.

Package: libdecibel0.7.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libraries for the Decibel communications framework
 Decibel is a real-time communications framework, which manages services such
 as Computer Telephony Integration (CTI), Voice over Internet Protocol (VoIP),
 text-based chat, and instant messaging.  It provides a simple D-Bus interface
 for communication protocols, accounts, contacts, and desktop components.
 .
 This package contains the Decibel core libraries.

Package: decibel
Section: libs
Architecture: any
Conflicts: decibel-kde4
Provides: decibel-kde4
Replaces: decibel-kde4
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: executables for the Decibel communications framework
 Decibel is a real-time communications framework, which manages services such
 as Computer Telephony Integration (CTI), Voice over Internet Protocol (VoIP),
 text-based chat, and instant messaging.  It provides a simple D-Bus interface
 for communication protocols, accounts, contacts, and desktop components.
 .
 This package contains programs the Decibel D-Bus service. and the Decibel 
 desktop components for KDE 4.
