Source: decibel
Priority: optional
Section: libs
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: debhelper (>= 7), cdbs, cmake, quilt, pkg-kde-tools (>= 0.4),
 libqt4-dev (>= 4.4.0), libqttapioca-dev (>= 0.17.7~), libqttelepathy-dev (>= ~0.17.7~),
 libdbus-1-dev
Standards-Version: 3.8.0
Homepage: http://decibel.kde.org
Uploaders: Sune Vuorela <debian@pusling.com>, Ana Beatriz Guerrero Lopez <ana@debian.org>, Modestas Vainius <modestas@vainius.eu>

Package: libdecibel-dev
Section: libdevel
Architecture: any
Depends: libdecibel0.7.1 (= ${binary:Version}), libqttapioca-dev (>= 0.17.7~), libqttelepathy-dev (>= ~0.17.7~)
Description: development files for the Decibel communications framework
 Decibel is a real-time communications framework, which manages services such
 as Computer Telephony Integration (CTI), Voice over Internet Protocol (VoIP),
 text-based chat, and instant messaging.  It provides a simple D-Bus interface
 for communication protocols, accounts, contacts, and desktop components.
 .
 This package contains development files for building software that uses the
 Decibel libraries.

Package: libdecibel0.7.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdecibel0.7.0
Description: libraries for the Decibel communications framework
 Decibel is a real-time communications framework, which manages services such
 as Computer Telephony Integration (CTI), Voice over Internet Protocol (VoIP),
 text-based chat, and instant messaging.  It provides a simple D-Bus interface
 for communication protocols, accounts, contacts, and desktop components.
 .
 This package contains the Decibel core libraries.

Package: decibel
Section: libs
Architecture: any
Conflicts: decibel-kde4
Provides: decibel-kde4
Replaces: decibel-kde4
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: executables for the Decibel communications framework
 Decibel is a real-time communications framework, which manages services such
 as Computer Telephony Integration (CTI), Voice over Internet Protocol (VoIP),
 text-based chat, and instant messaging.  It provides a simple D-Bus interface
 for communication protocols, accounts, contacts, and desktop components.
 .
 This package contains programs the Decibel D-Bus service. and the Decibel 
 desktop components for KDE 4.
